.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 144px;
}
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 144px 81px;
}
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 144px;
  height: 81px;
}
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 160px 90px;
}
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 144px;
  height: 81px;
}
.so-widget-sow-post-carousel-default-9c2548bc2f2c .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 144px;
  height: 81px;
}